body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black; /* Set text color to black */
  height: 100vh;
}

#search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%; /* Use the full viewport height */
}

#logo-container {
  justify-content: center;
  background-color: white;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}

#smoogleMainImg {
  width: 400px;
  height: 100px;
}

#search-box {
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

#button-container {
  text-align: center;
}

button {
  background-color: #303134;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

#footer {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background-color: white;
  height: 10%; /* Use the full viewport height */
}

.Header-container { 
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  display: flex;
  align-items: center; 
}

.Header-container img {
  width: 100px;
  height: 35px;
}

#smoogleHeadImg {
  align-items: center;
  width: 100px;
  height: 50px;
}

a {
  padding: 2px;
  font-size: 12px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.a
{ 
  width: 30%;
  display: inline-block; 
  padding: 5px;     
}